.container{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 11px;
    font-weight: 700;
}

body{
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./media/christian-spasov-JhT5z93iSOY-unsplash.jpg");
    background-size: cover;
    
}

.title-container{
    display: flex;
    justify-content: center;
    margin-top: 15vh; 
    
}
.title{
    color: aliceblue;
    position: relative;
    
}

.underline{
    width: 80px;
    background-color: rgb(231, 235, 17);
    height: 3px;
    position: absolute;
    top: 23%;
}

.card{
    padding-top: 10px;
    height: 380px;
    position: relative;
    width: 380px;
    margin: 30px auto;
    background-color: rgba(249, 252, 250,0.7);
    box-shadow: 5px 5px 10px rgb(93, 152, 204),
                -5px -5px 10px rgb(93, 152, 204);
    border-radius: 3%;
    justify-content: center;
    justify-items: center;
}

.img-container{

    display: flex;
    justify-content: center;  
    
}
.img{
    width: 100%;
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    top:10px;

}

.name{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;

}

.type{
    position: absolute;
    top:50%;
    width: 100%;
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    font-style: oblique;
    font-weight: 800;
    color: rgba(236, 74, 15, 0.768);
}

.review{
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
}

.btn-container{
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
   
}

.prev{
    transition: all 0.5s;

}

.prev:hover{
    transform: scale(1.1);
}

.next{
    transition: all 0.5s;

}

.next:hover{
    transform: scale(1.1);
}

.random{
    text-align: center;
    bottom: 1%;
    position: absolute;
    left: 36%;
    font-weight: bolder;
    color: rgba(68, 231, 204,0.5);
   background-color: rgb(242, 52, 194);
   font-size: 15px;
   box-shadow: 5px 5px 10px rgb(234, 234, 237),
             -5px -5px 10px rgb(221, 224, 224);
    

}

@media (max-width: 400px) {
    /* Mobile Styles */
  
    .card {
      width: 90%;
      max-width: 500px;
    }
  
    .img {
      height: 100px;
      width: 100px;
    }
  
    .name,.type,.review {
      font-size: 14px;
    }
  
    .btn-container {
      bottom: 5%;
    }
  }