*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.nav{
    display: flex;
    justify-content: center;
    cursor: pointer;  
    background-color: rgba(121, 238, 101, 0.2);

}

.un{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;

}
.un li a{
    color: rgb(244, 14, 118);
    font-size: 30px;
    font-style: oblique;
    text-decoration: none;

}

.simple{
    color: rgb(231, 142, 69);
    font-size: 30px;
    font-family: 'Barriecito', cursive;
}

.Hex{
    font-family: 'Sansita Swashed', cursive;
    padding-right: 35px;
}

.color{
    color: aliceblue;
    display: block;
}

.container{
    background-color: rgb(40, 41, 42);
    height: 20vh;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 25vh auto;
    margin-bottom: 10px;
    align-content: center;

}

.container h1{
    color: rgb(49, 221, 207);
}

.button{
    text-align: center;
}